@font-face {
    font-family: 'chemistryregular';
    src: url('chemistr-webfont.eot');
    src: url('chemistr-webfont.eot?#iefix') format('embedded-opentype'),
    url('chemistr-webfont.woff2') format('woff2'),
    url('chemistr-webfont.woff') format('woff'),
    url('chemistr-webfont.ttf') format('truetype'),
    url('chemistr-webfont.svg#chemistryregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kg_broken_vessels_sketchRg';
    src: url('kgbrokenvesselssketch-webfont.eot');
    src: url('kgbrokenvesselssketch-webfont.eot?#iefix') format('embedded-opentype'),
    url('kgbrokenvesselssketch-webfont.woff2') format('woff2'),
    url('kgbrokenvesselssketch-webfont.woff') format('woff'),
    url('kgbrokenvesselssketch-webfont.ttf') format('truetype'),
    url('kgbrokenvesselssketch-webfont.svg#kg_broken_vessels_sketchRg') format('svg');
    font-weight: normal;
    font-style: normal;

}